.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.card {
  background: #161616;
  padding: 1.2rem;
  border-radius: var(--radius);
}
